<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>m2-image.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tp1-palette.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tp2-espace-couleur.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tp3-huffman.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tp4-ondelette.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tp5-securite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB0CB1852700D1E2001E598C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB60C6F326EF8FEA00EDF8EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB78519327141F7F009FF1E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBAB88F0270AECD500544C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBDBBDC926F61A3100A9D44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
